<!DOCTYPE html>
<html>
  <head>
    <title>Warbase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <link href="https://fonts.googleapis.com/css?family=Balthazar" rel="stylesheet"> 

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
  </style>
  </head>

  <body class="text-center parallax">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= image_tag "sword2.png", class: "navbar-brand"%>
      <%= link_to 'Warbase', root_path, method: :get, class: "navbar-brand " %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <section class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
            
          </div>
  <% if signed_in? %>
    
          <ul class="navbar-nav px-3">
            <%#= link_to 'Profile', users_show_path, method: :get %>
            <%#= link_to 'Players', users_show_all_path, method: :get %>
              <li><%= link_to 'Profile', current_user, method: :get, class: "navbar-brand" %></li>
              <li><%= link_to 'Participants', users_path, method: :get, class: "navbar-brand " %></li>
              <li><strong class="signed-in-text navbar-brand"> Signed in as: <%= current_user.username %> </strong></li>
              <li><%= button_to 'Sign out',  destroy_user_session_path, method: :delete, class: "btn btn-light" %></li>
      </nav>
    <%#= render :partial => 'shared/sidenav' %>
    
    
  <% else %>
            <li class="nav-item text-nowrap">
              <%= button_to 'Sign in',  new_user_session_path, method: :get, class: "btn btn-light" %>
            </li>
          </ul>
      </nav>
    
  <% end %>

  <%= yield %>

  <div id="flash" class="white-text">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
</div>



</body>

  <footer>
    <section class="container text-center">
        <div class="card-body">
            <h5 class="card-title footer-white"> © 2018 Warbase </h5>
        </div>
    </section>
</footer>
</html>
